.cardGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2rem;
    }
}